[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
  br = branch
  df = diff
  dc = diff --cached
  lg = log --pretty=format:"%h%x09%an%x09%ad%x09%s" --date=short
  lp = log -p
  lol = log --graph --decorate=short --pretty=oneline --abbrev-commit
[color]
	ui = true
[user]
	name = clc3123
	email = clc3123@gmail.com
